<div class="slide-in section">
  <div class="left">
    <p>
      The state-of-the-art workspace, where innovation meets collaboration in a dynamic workspace designed to inspire and
      elevate your work experience. This coworking space is more than just a place to work; it’s a vibrant community of
      like-minded professionals, entrepreneurs, and enthusiasts, who come together to network, share a modern space and
      discover a brand new concept that caters their professional needs.
    </p>
  </div>
  <div class="right">
    <p>
      Enjoy the unlimited access to the well-designed and flexible ITP Prizren Coworking Space. Whether you're an early bird
      or a night owl, our doors are open to accommodate your preferred working hours. Connect and engage with a diverse
      community of professionals, entrepreneurs, and creatives. The package includes dedicated seat, Fast WiFi, Kitchen, Chill
      zones, silent box access, Community membership, and Private locker.
    </p>
  </div>
</div>
