<div class="text-animation">
  <h1>
    <span class="title">
      <span class="word">M</span>
      <span class="word">a</span>
      <span class="word">k</span>
      <span class="word">e</span>
      <span class="word">r</span>
      <span class="word">S</span>
      <span class="word">p</span>
      <span class="word">a</span>
      <span class="word">c</span>
      <span class="word">e</span>
      <span class="word"></span>
    </span>
    <span class="sub-title">CoWorking Space</span>
  </h1>
  <div class="scroll"></div>
</div>
